<div>
    {{#each item}}

    <div class="vasco">
        <span>{{this.id}}</span>
        <p>{{this.nome}}</p>
        <p>{{this.preco}}</p>
        <a href="/up/{{this.id}}"> editar </a>
        <a href="/delete/{{this.id}}"> deletar </a>
    </div>

    {{/each}}
    <div class="container"><a class="botao" href="/form">
        Adicionar
    </a></div>
    

</div>